body {
    background-color: black;
    text-align: center;
    letter-spacing: 2px;
}
p {
    color: white;
}
#status_output {
    color: red;
}
h1 {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top : 20px;
    color: white;
}
h2 {
    font-size: 20px;
    color: blue;
    background: grey;
}
#guessInput {
    margin: 20px;
    width: 20%;
}
#form {
    margin-bottom: 20px;
}
#content {
    padding: 10px;
    border: 1px dashed white;
    width: 30%;
    margin: auto;
    color: white;
    line-height: 20px;
}
